*{
    padding:0px;
    margin: 0px;
    font-family:"Roboto";
    
}
html,body{
    padding:0px;
    margin: 0px;
}
body{
    padding: 12% 2.5% 0px 17%;
    background-color:black;
    
}

/* css for navigation bar */
.header-container{
    background-color:#303030;
    height:65px;

    display:flex;
    justify-content: space-between;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;

    z-index:2;

}
.left{
    
    width:180px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
/* left contents */
.berger{
    font-size:22px;
    color:rgb(203, 203, 203);
}


.center{
    
    display:flex;
    align-items: center;
    width:50%;
    margin-left:20px;
    
}
/* center contents */
.searchVal{
    width:75%;
    height:44px;
    box-sizing: border-box;
    border-radius: 22px 0px 0px 22px;
    padding-left:10px;
    background-color: #171616;
    border:none;
    color:rgb(203, 203, 203);
}
::placeholder{
    font-size:18px;  
}

.searchBtn{
    width:70px;
    height:44px;
    border-radius: 0px 22px 22px 0px;
    border:none;
    background-color:#403f3f;
    color:rgb(203, 203, 203);

}
.magnify-btn{
    font-size:22px;  
}
.mic{
    width:40px;
    height:40px;
    border-radius:50%;
    border:1px solid;
    background-color: #121212;

    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-colcor 0.16s;

    margin-left:20px;
}



.right{

    width:210px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-topics-container{

    background-color:#303030;
    border-top: 0.1px solid rgb(75, 75, 75);;
    border-bottom: 0.1px solid rgb(81, 81, 81);;
    min-height:57px;
    position:fixed;
    left:15%;
    right:0px;
    top:65px;

    display:flex;
    align-items: center;
    z-index:2;
    
    
}
ul{
    list-style-type: none;
    padding-top:10px;
    width:95%;

    display:flex;
    align-items: center;
    overflow-x: scroll;

}
::-webkit-scrollbar{
    visibility:hidden;
}
.item{
    border:0.1px solid rgb(131, 131, 132);
    padding: 5px 10px;
    color:aliceblue;
    border-radius:10px;
    margin-right:10px;
    white-space: nowrap;
    font-size:15px;
    background-color:#403f3f;
}

.side-navigation{

    position:fixed;
    top:65px;
    left:0px;
    bottom:0px;
    width: 15%;
    background-color:#303030;
    overflow-y: scroll;
    z-index:3;
   

}
.content{
    
    width: 95%;
    height:47px;
    display:grid;
    grid-template-columns: 40px 1fr ;
    box-sizing: border-box;
    color:aliceblue;
    
    align-items: center;
    padding-left:20px;
    margin:10px 0px;
    transition: background-color 0.16s;

}
.content:hover{
    background-color: rgba(107, 105, 105, 0.6);
}
hr{
    margin: 40px 0px;
    border:0.5px solid#504f4f;
}
.sub{
    padding-left:10px;
    color:aliceblue;
    margin-bottom:20px;

}
.content > .spn1>img{
    height:40px;
    width:40px;
    border-radius:50%;
}





/* css for container in which all vedios will appear */
#main-data-container01{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(315px, 1fr));
    row-gap: 44px;
    column-gap: 15px;
    background-color:black;

    width:100%;
    border:1px solid;
   
}

/* main card container */
.card-container
{
  border:1px solid;
  border-radius:17px;
  min-height:260px;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info{
 margin-left: 55px;
}

.card-image{
    width:inherit;
    height:170px;
    border-radius:17px;

    position:relative;

    
}

.vedio-duration{
    color:white;
    font-family:"Roboto" ;
    font-size: 12px;
    padding:2.5px;
    background-color: black;

    position:absolute;
   
   right:7px;
   bottom:7px;
}

.image-a{
    width:inherit;
    height:inherit;
    text-decoration: none;

}
.thumnail-img
{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:17px;
}

.channel-img-container >img
{
   width:40px;
   height:40px;
   border-radius:50%;
   object-fit:cover;
}

/* css for title and youtuber profile */
.channel-img-container{
    
    width:inherit;

    display:grid;
    grid-template-columns: 40px 1fr;
    column-gap: 15px;
    align-items: center;

}
.vidio-desp{
    font-family:"Roboto" ;
    font-size: 14px;
    font-weight: bold;
    color:rgb(219, 222, 224);
}
.more-info{
    font-family:"Roboto";
    font-size: 14px;
    
}
.uploaded-time-span, .views-count,.youtuber-name{
    color:rgb(131, 131, 132);
}

.item:hover{

    opacity:0.7;
    cursor: pointer;
}
 .searchBtn:hover{

    opacity:0.7;
    cursor: pointer;
 }
.content:hover{

    opacity:0.7;
    cursor: pointer;
} 
.icon:hover{

    opacity:0.7;
    cursor: pointer;
}
.mic:hover{
    background-color: rgba(40, 39, 39, 0.8);
    cursor: pointer;
    border:none;
}

@media(max-width:1080px){
    .side-navigation{
        display:none;
    }
    body{
        padding: 12% 2.5% 0px 0px;
    }
    .search-topics-container{
        position: fixed;
        left:0px;
    }
    .mic{
        display:none;
    }
    
}
@media (max-width: 500px){
    .searchBtn{
        width:44px;
        height:44px;
        border:none;
        border-radius: 0px 0px 0px 0px;
        background-color:#403f3f;
        color:rgb(203, 203, 203);
    
    }
    .searchVal{
        display: none;
    }
    .berger{
        display: none;
    }
}
